body {
    font-family: 'Carter One', cursive;
    background-color: $color_principal;
}

a {
    text-decoration: none;
}

.fa_bars, .fa_Xmark {
    color: $color_secundario;
}

.fs_18 {
    font-size: $font18;
}

.fs_20 {
    font-size: $font20;
}

.fs_25 {
    font-size: $font25;
}