
$blanco: #fff;
$negro: #000;
$gris5d: #5d5d5d;
$color_principal: #1c1c1c;
$color_secundario: #05c7ff;
// $color_secundario: #ff0000;
// $color_secundario: #fffc00;
// $color_secundario: #3dff00;
// $color_secundario: #2100ff;
// $color_secundario: #bc00ff;
// $color_secundario: #ff00e4;
// $color_secundario: #fff;

$color_html: #ff6347;
$color_css: #264de4;
$color_js: #F0DB4F;
$color_bootstrap: #712cf9;
$color_react: #61dafb;
$color_sass: #bf4080;
$color_reduxToolkit: #764abc;

$font16: 16px;
$font18: 18px;
$font20: 20px;
$font25: 25px;

