
$blanco: #fff;
$negro: #000;
$gris5d: #5d5d5d;
$color_principal: #1c1c1c;
$color_secundario: #05c7ff;
// $color_secundario: #ff0000;
// $color_secundario: #fffc00;
// $color_secundario: #3dff00;
// $color_secundario: #2100ff;
// $color_secundario: #bc00ff;
// $color_secundario: #ff00e4;
// $color_secundario: #fff;

$font16: 16px;
$font18: 18px;
$font20: 20px;
$font25: 25px;

