footer {
    background-color: $negro;
    -webkit-box-shadow: 0px 6px 15px 0px $color_secundario; 
    box-shadow: 0px -3px 15px 0px $color_secundario;
}

.footer_subTitle {
    color: $color_secundario;
    text-shadow: 0px 1px 6px $color_secundario;
}

.footer_subTitle1, .footer_subTitle3 {
    animation: upDown_animation 3s ease-out infinite;
}

.footer_subTitle2 {
    animation: downUp_animation 3s ease-out infinite;
}

.li_footer span, .li_footer a {
    font-size: 16px;
    color: $gris5d;
    text-shadow: none;
    @include transition_elements();
}

.li_footer a:hover {
    color: $color_secundario;
    text-shadow: 0px 1px 6px $color_secundario;
}

.col_ul_contact ul li::marker {
    color: $negro;
}

.nameInFooter {
    color: $color_secundario;
    @include transition_elements();
}

.nameInFooter:hover {
    color: $color_secundario;
    text-shadow: 0px 1px 6px $color_secundario;
}