footer {
    background-color: $negro;
    -webkit-box-shadow: 0px 6px 15px 0px $color_secundario; 
    box-shadow: 0px -3px 15px 0px $color_secundario;
}

.footer_subTitle {
    color: $color_secundario;
    text-shadow: 0px 1px 6px $color_secundario;
}

.footer_subTitle1, .footer_subTitle3 {
    animation: upDown_animation 3s ease-out infinite;
}

.footer_subTitle2 {
    animation: downUp_animation 3s ease-out infinite;
}

.titulo_footer {
    color: $color_secundario;
}

.li_footer span, .li_footer a {
    font-size: 16px;
    color: $gris5d;
    text-shadow: none;
    @include transition_elements();
}

.li_footer a:hover {
    color: $color_secundario;
    text-shadow: 0px 1px 6px $color_secundario;
}

.col_ul_contact ul li::marker {
    color: $negro;
}

.nameInFooter {
    color: $color_secundario;
    @include transition_elements();
}

.nameInFooter:hover {
    color: $color_secundario;
    text-shadow: 0px 1px 6px $color_secundario;
}

.ul_footer li {
    @include transition_elements();
}

.ul_footer li:hover {
    .html {
        color: $color_html;
        text-shadow: 0px 1px 6px $color_html;
    }

    .css {
        color: $color_css;
        text-shadow: 0px 1px 6px $color_css;
    }

    .js {
        color: $color_js;
        text-shadow: 0px 1px 6px $color_js;
    }
    
    .bootstrap {
        color: $color_bootstrap;
        text-shadow: 0px 1px 6px $color_bootstrap;
    }
    
    .react {
        color: $color_react;
        text-shadow: 0px 1px 6px $color_react;
    }
    
    .sass {
        color: $color_sass;
        text-shadow: 0px 1px 6px $color_sass;
    }
    
    .reduxToolkit {
        color: $color_reduxToolkit;
        text-shadow: 0px 1px 6px $color_reduxToolkit;
    }
    
    .git {
        color: $color_git;
        text-shadow: 0px 1px 6px $color_git;
    }
    
    .figma {
        color: $color_figma;
        text-shadow: 0px 1px 6px $color_figma;
    }
    
    .npm {
        color: $color_npm;
        text-shadow: 0px 1px 6px $color_npm;
    }
}