@keyframes upDown_animation {
    0% { transform: translateY(0); }
    25% { transform: translateY(-7px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(-7px); }
    100% { transform: translateY(0); }
}

.name {
    color: $color_secundario;
    text-shadow: 0px 1px 6px $color_secundario;
}

.p_home {
    color: $gris5d;
    letter-spacing: 2px;
    
}


.container_descargarCV button {
    background-color: $color_principal;
    color: $blanco;
    -webkit-box-shadow: 0px 0px 15px 5px $blanco; 
    box-shadow: 0px 0px 15px 5px $blanco;
    animation: upDown_animation 3s ease-out infinite;
    @include transition_elements();
}

.container_descargarCV button:hover {
    color: $color_secundario;
    -webkit-box-shadow: 0px 0px 15px 5px $color_secundario; 
    box-shadow: 0px 0px 15px 5px $color_secundario;

}